<launch>
  <!-- Arguments -->
  <!--arg name="model" default="raspimouse"/-->
  <arg name="map_file" default="$(find raspimouse_navigation)/maps/my_map.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- raspimouse -->
  <include file="$(find raspimouse_description)/launch/display_urdf.launch"/>
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find raspimouse_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find raspimouse_navigation)/launch/move_base.launch"/>
    <!--arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include-->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find raspimouse_navigation)/rviz/raspimouse_navigation.rviz"/>
  </group>

</launch>
